HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Documentation and Reports ###
# Analysis and documentation files
API_PERFORMANCE_REPORT.md
API_SECURITY_AUDIT_REPORT.md
UMS_ARCHITECTURE_ANALYSIS_REPORT.md
MISSING_ENDPOINTS_ANALYSIS.md
UMS_POSTMAN_TESTING_PLAN.md
UPDATE_USER_API_GUIDE.md
UMS_ENHANCEMENT_SUMMARY.md
UMS_RELATION_REFINEMENT_SUMMARY.md
auth_testing_guide.md
auth_flow_test.sh
test_endpoints.sh
test_update_user_api.sh
api_performance_test.sh
simple_performance_test.sh
quick_performance_test.sh
test_new_endpoints.sh
